@page "{subjectId}"
@model Covid19Management.Pages.Covid19Tests.Delete

@{
    Layout = null;
}

<h2>Delete user</h2>

<div>
    <p>Are you sure you want to delete the user <strong>@Model.TestSubject.FullName</strong>?</p>
    <form method="post">
        <formgroup>
            <button type="submit">Delete User!</button>
        </formgroup>
    </form>
</div>