@page "{subjectId}"
@using Covid19Management.Core
@model Covid19Management.Pages.Covid19Tests.Detail

@{
    ViewData["Title"] = "Test details";
}

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<h2>Test Details for subject @(Model.TestSubject.FullName)</h2>

<div class="container">
    <div>Id: @Model.TestSubject.Id</div>
    <div>Name: @Model.TestSubject.FullName</div>
    <div>Test completed?: @(Model.TestSubject.IsTestCompleted.Equals(YesOrNo.Yes) ? "Yes" : "No") </div>
    @if (@Model.TestSubject.IsTestCompleted.Equals(YesOrNo.Yes))
    {
        <br/>
        <div>
            <strong>Test Results</strong><br/>
            
            <div>
                Time of Test: @Model.TestSubject.TestResult.TestTime<br/>
                Result: @(Model.TestSubject.TestResult.IsCovid19Positive.Equals(TestOutCome.Positive) ? "Positive" : "Negative")
            </div>
            
        </div>
        <br/>
    }
</div>


<a asp-page="./List" class="btn btn-info">All Test Subjects</a>