@page "{subjectId?}"
@model Covid19Management.Pages.Covid19Tests.Edit

@{
    ViewData["Title"] = "Edit";
}

@if (!string.IsNullOrEmpty(Model.TestSubject.Id))
{
    <h2>Now Editing @Model.TestSubject.FullName</h2>
}
else
{
    <h2>Register Test Subject Info!</h2>
}

<form method="POST">

    <input type="hidden" asp-for="TestSubject.Id">
    <div class="form-group">
        <label asp-for="TestSubject.Cpr"></label>
        <input asp-for="TestSubject.Cpr" class="form-control">
        <span class="text-danger" asp-validation-for="TestSubject.Cpr"></span>
    </div>
    <div class="form-group">
        <label asp-for="TestSubject.FirstName"></label>
        <input asp-for="TestSubject.FirstName" class="form-control">
        <span class="text-danger" asp-validation-for="TestSubject.FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="TestSubject.LastName"></label>
        <input asp-for="TestSubject.LastName" class="form-control">
        <span class="text-danger" asp-validation-for="TestSubject.LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="TestSubject.IsTestCompleted">Is test completed?</label>
        <select class="form-control" asp-for="TestSubject.IsTestCompleted"
                asp-items="Model.TestCompletedAnswers">
        </select>
    </div>
    <div class="form-group">
        <label asp-for="TestSubject.TestResult.IsCovid19Positive"></label>
        <select class="form-control" asp-for="TestSubject.TestResult.IsCovid19Positive"
                asp-items="Model.TestOutComes">
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>