@page
@model List

@{
}

<h1>Covid-19 Tests</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm"/>
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Cpr-Nummer</th>
        <th>Resultat</th>
        <th>Test Udført</th>
        <th></th>
    </tr>
    </thead>
    @foreach (var subject in Model.TestSubjects)
    {
        <tr>
            <td>@subject.FullName</td>
            <td class="cpr-number">@subject.Cpr</td>
            <td>@subject.TestResult.IsCovid19Positive</td>
            <td>@subject.IsTestCompleted</td>
            <td>
                <a class="btn-lg" asp-page="./Detail" asp-route-subjectId="@subject.Id">
                    <i class="fas fa-search-plus"></i>
                </a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="btn-lg" asp-page="./Edit" asp-route-subjectId="@subject.Id">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn-lg" asp-page="./Delete" asp-route-subjectId="@subject.Id">
                        <i class="fas fa-user-minus"></i>
                    </a>
                }
            </td>
        </tr>
    }
</table>

<a asp-page=".\Edit" class="btn btn-primary">Add New Test Subject</a>