@page
@model Covid19Management.Pages.Covid19Tests.NotFound

@{
    ViewData["Title"] = "NotFound";
}

<h2>Test Subject Not Found!</h2>
<a asp-page="./List" class="btn btn-primary">All Test Subjects</a>
