﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Covid-19 Test Registration";
}
<h2> Velkommen til Covid-19 Test Management</h2>

<div class="container">
    <div>
        <h3>Her på siden kan man:</h3>
        <ul class="list-group">
            <li class="list-group-item">
                Registrere prøveresultater for Covid-19 patienter.
            </li>
            <li class="list-group-item">
                Opdatere prøvesvar, personoplysninger mm.
            </li>
        </ul>
    </div>
</div>